In [1]:
import numpy as np; import pandas as pd

In [2]:
values = pd.Series(['apple', 'orange', 'apple',
   ....:                     'apple'] * 2)
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [4]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [5]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

In [8]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
N = len(fruits)
df = pd.DataFrame({'fruit': fruits,
                    'basket_id': np.arange(N),
                    'count': np.random.randint(3, 15, size=N),
                    'weight': np.random.uniform(0, 4, size=N)},
                   columns=['basket_id', 'fruit', 'count', 'weight'])
df

   basket_id   fruit  count    weight
0          0   apple      9  1.639038
1          1  orange      4  1.705448
2          2   apple      3  3.225031
3          3   apple      6  1.083424
4          4   apple      9  0.602719
5          5  orange     13  0.493776
6          6   apple      3  2.981089
7          7   apple     10  3.304405

In [9]:
df.dtypes

basket_id      int32
fruit         object
count          int32
weight       float64
dtype: object

In [10]:
fruit_cat = df['fruit'].astype('category')

In [12]:
fruit_cat.values

[apple, orange, apple, apple, apple, orange, apple, apple]
Categories (2, object): [apple, orange]

In [15]:
fruit_cat.values.categories

Index(['apple', 'orange'], dtype='object')

In [16]:
fruit_cat.values.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [17]:
categories = ['foo', 'bar', 'baz']
codes = [0, 1, 2, 0, 0, 1]
ordered_cat = pd.Categorical.from_codes(codes, categories,
                                         ordered=True)

In [18]:
ordered_cat

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo < bar < baz]

In [19]:
np.random.seed(42)
draws = np.random.randn(1000)
bins = pd.qcut(draws, 4)
bins

[(0.0253, 0.648], (-0.648, 0.0253], (0.0253, 0.648], (0.648, 3.853], (-0.648, 0.0253], ..., (-0.648, 0.0253], (0.648, 3.853], (0.0253, 0.648], (-0.648, 0.0253], (0.0253, 0.648]]
Length: 1000
Categories (4, interval[float64]): [(-3.242, -0.648] < (-0.648, 0.0253] < (0.0253, 0.648] < (0.648, 3.853]]

In [21]:
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
bins

[Q3, Q2, Q3, Q4, Q2, ..., Q2, Q4, Q3, Q2, Q3]
Length: 1000
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [25]:
bins = pd.Series(bins, name='quartile')
result = pd.Series(draws).groupby(bins).agg(['count','mean']).reset_index()
result

  quartile  count      mean
0       Q1    250 -1.206798
1       Q2    250 -0.312957
2       Q3    250  0.324255
3       Q4    250  1.272828

In [27]:
cat_s = pd.Series(['a', 'b', 'c', 'd'] * 2, dtype='category')
pd.get_dummies(cat_s)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1