In [1]:
from datetime import datetime
import numpy as np
import pandas as pd

In [2]:
now = datetime.now()
now

datetime.datetime(2020, 7, 21, 21, 26, 35, 945951)

In [3]:
now.time()

datetime.time(21, 26, 35, 945951)

In [4]:
now.date()

datetime.date(2020, 7, 21)

In [5]:
stamp = datetime(2011, 1, 3)
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [6]:
stamp.strftime("%F")

'2011-01-03'

In [7]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [8]:
from dateutil.parser import parse
parse('2011 1 1')

datetime.datetime(2011, 1, 1, 0, 0)

In [9]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [10]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
   ....:          datetime(2011, 1, 7), datetime(2011, 1, 8),
   ....:          datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index = dates)

In [11]:
ts

2011-01-02    0.986874
2011-01-05    1.682406
2011-01-07    0.569011
2011-01-08   -3.005834
2011-01-10    0.298667
2011-01-12    0.918383
dtype: float64

In [13]:
ts.index.dtype

dtype('<M8[ns]')

In [16]:
stamp = ts.index[2]
ts[stamp]

0.5690106444989508

In [17]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.569011
2011-01-08   -3.005834
2011-01-10    0.298667
dtype: float64

In [18]:
index = pd.date_range('2012-4-1','2012-5-1')

In [19]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01'],
              dtype='datetime64[ns]', freq='D')

In [20]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [21]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [24]:
pd.date_range('2000-01-01', '2000-12-01',freq='M')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-30', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='M')

In [23]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [25]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [27]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
ts

2000-01-31   -0.571217
2000-02-29    0.406531
2000-03-31   -0.478042
Freq: M, dtype: float64

In [29]:
#period 周期 timestamp 时间戳
pts = ts.to_period()
pts

2000-01   -0.571217
2000-02    0.406531
2000-03   -0.478042
Freq: M, dtype: float64

In [32]:
pts.to_timestamp(how='end')

2000-01-31 23:59:59.999999999   -0.571217
2000-02-29 23:59:59.999999999    0.406531
2000-03-31 23:59:59.999999999   -0.478042
Freq: M, dtype: float64

In [33]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [34]:
ts.resample('M')

DatetimeIndexResampler [freq=<MonthEnd>, axis=0, closed=right, label=right, convention=start, base=0]

In [35]:
ts.resample('M', kind='period').mean()

2000-01    0.205037
2000-02    0.153005
2000-03   -0.139584
2000-04   -0.301247
Freq: M, dtype: float64

In [36]:
ts.resample('M').mean()

2000-01-31    0.205037
2000-02-29    0.153005
2000-03-31   -0.139584
2000-04-30   -0.301247
Freq: M, dtype: float64

In [37]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts.head()

2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
Freq: T, dtype: int32

In [39]:
ts.resample('5min',closed = 'right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [40]:
#：第一个值（open，开盘）、最后一个值（close，收盘）、最大值（high，最高）以及最小值（low，最低）
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11